{% extends 'template.html.twig' %}

{% block title %}Index{% endblock %}

{% block content %}

{#
    {% for post in posts %}
        <div class="blog-post">
            <h2 class="blog-post-title">{{ post.titulo }}</h2>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ post.cadastro|date('F j, Y') }} by <a class="label label-default"
                                                                        href="{{ app.url_generator.generate('author', { author : post.usuario.id, name : post.usuario.nome|replace(' ', '_')|lower }) }}">{{ post.usuario.nome }}</a>

                    </h3>
                </div>
                <div class="panel-body callout">
                    {{ post.descricao|slice(0, 250)|striptags }} {% if post.descricao|length > 250 %}...{% endif %}
                </div>
            </div>
            <p>
                <a class="label label-default"
                   href="{{ app.url_generator.generate('post', { postId : post.id, postTitulo : post.titulo|slice(0, 30)|replace(' ', '-')|lower }) }}">Saiba
                    mais...</a>
            </p>
        </div>
    {% endfor %}
#}

    {% for post in posts %}
        <div class="blog-post sidebar-nav">
            <h2 class="blog-post-title">{{ post.titulo }}</h2>
            <p class="blog-post-meta">{{ post.cadastro|date('F j, Y') }} by <small><a class="label label-default"
            href="{{ app.url_generator.generate('author', { author : post.usuario.id, name : post.usuario.nome|replace(' ', '_')|lower }) }}">{{ post.usuario.nome }}</a>
            </small></p>
            {% if post.descricao|length < 1000  %}
                    <p class="text-justify">{{ post.descricao|raw }}{% if post.descricao|length > 250 %}...{% endif %}</p>
            {% else %}
                    <p class="text-justify">{{ post.conteudo|slice(0, 350)|trim|raw }}{% if post.descricao|length > 250 %}...{% endif %}</p>
            {% endif %}
            <p>
                <a class="label label-default"
                   href="{{ app.url_generator.generate('post', { postId : post.id, postTitulo : post.titulo|slice(0, 30)|replace(' ', '-')|lower }) }}">Saiba
                    mais...</a>
            </p>
        </div>
    {% else %}
        <p class="lead"><i class="fa"></i> Nada Encontrado.</p>
    {% endfor %}

{% endblock %}