{% extends 'template.html.twig' %}

{% block title %}{{ post.titulo }}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block body %}

    <div class="blog-post">
        <h2 class="blog-post-title">{{ post.titulo }}
            <a href="{{ app.url_generator.generate('edit_post', { id : post.id, name : post.titulo|replace({'.': '', ' ' : '+' })|lower }) }}"><button class="btn btn-flat"><span class="fa fa-edit"></span></button></a>
        </h2>
        <small class="blog-post-meta">Created {{ post.cadastro|date('F j, Y H:i') }} by <a href="{{ app.url_generator.generate('author', { author : post.usuario.id, name : post.usuario.nome|replace({'.': '', ' ' : '+' })|lower }) }}">{{ post.usuario.nome }}</a>
        {% if post.atualizado %} Updated {{ post.atualizado|date('F j, Y H:i') }}{% endif %}</small>
        <div id="conteudo"><p class="text-justify">{{ post.descricao|raw }}</p></div>
    </div>

    {% if tags is defined %}
        <p>
            Tags:
            {% for tag in tags %}
                <small><a href="{{ app.url_generator.generate('tag', { id : tag.id, tag : tag.nome }) }}"><label
                                class="label label-{{ app['label.sorted'] }}">{{ tag.nome }}</label></a></small>
            {% endfor %}</p>
    {% endif %}

    <table class="table table-bordered table-responsive">
        <tbody>
        {% for link in links %}
            <tr>
                <td>
                    {% if link.media == 'audio' %}
                        <p class="lead">{{ link.titulo }}</p>
                        <iframe width="100%" height="166" scrolling="no" frameborder="no"
                                src="{{ link.url }}&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                    {% else %}
                        <p class="lead"><a target="_blank" href="{{ link.url }}">{{ link.titulo }}</a></p>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td>Sem anexos.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="disqus_thread"></div>

    <script id="dsq-count-scr" src="//site-14.disqus.com/count.js" async></script>

{% endblock %}